//////////////////////////// SIGNUP PAGE ////////////////////////////
@import 'app';

.form-wrapper {
	padding-top: 3em;
}

.signup-form {
	margin-top: 2em;
}

.submit-signup {
	margin-top: 2em;
}

.signup-form {
	label {
		color: $warm!important;
	}
}