//////////////////////////// SURVEY STYLES ////////////////////////////	
@import 'app';

.survey-question {
	text-align: center;
	margin: 2em 0 2em 0;
}

.squiggle-wrapper {
	cursor: pointer;
}

.light-background {
  background-color: $super-light;
}

.dark-background {
  background-color: $dark-grey;
}

path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 10;
  animation: draw 6s linear;

}

@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes shrink {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
  }
}

.color-row {
  display: flex;
  justify-content: space-between;
}

.color-row.highlight {
  background-color: $dark-grey;
}

.color-block {
	height: 3em;
	width: 3em;
	margin: 3em;
}


.fill-in-blanks {
	input {
		display: inline;
	}
}

.tell-more {
	text-align: center;
}

#zButton {
  z-index: 2;
}

.diary {
  z-index: 2;

  textarea {
    font-family: $paragraph-font;
    font-size: 3em;
    color: $dark-grey;
    background-color: $light;

  }
}

.create-account {
  margin: 2em;
}
